<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>JDLightings</title>
	<%= stylesheet_link_tag params[:site] %>
	<%= javascript_include_tag "jquery", "claear-input", "sammy/sammy" %>
	<!--[if lt IE 8]><%= stylesheet_link_tag "ie" %><![endif]-->
</head>
<body>
	<div id="wrapper">
		<div id="header">
			<strong class="logo"><%= link_to "", page_home_path, :class => "sammy" %></strong>
			<div class="nav-holder">
				
				
				<ul id="nav">
        <% ['product','company','contact','media'].each do |link| %>
          <%
            url = "#"
            url = page_contact_path if (link=="contact")
            url = "/" + params[:site] + "/products" if (link=="product")
          %>
          <li class="<%= link %>">
          <% if @parent_nav == link %>
            <%= link_to link.upcase, url, :class => "active", :rel => link, :class => "sammy" %>
          <% else %>
            <%= link_to link.upcase, url, :rel => link, :class => "sammy" %>
          <% end %>
          </li>
        <% end %>
				</ul>
				
				
				<div class="menu-holder">
          <!--
					<ul class="menu product">
						<li><a href="#">HID</a></li>
						<li><a href="#">LED</a></li>
						<li><a href="#">Halogen</a></li>
						<li><a href="#">Parts</a></li>
					</ul>
					-->
					<ul class="menu company">
						<li class="about"><%= link_to "ABOUT", page_about_path, :class => "sammy" %></li>
						<li class="conditions"><%= link_to "CONDITIONS", page_conditions_path, :class => "sammy" %></li>
						<li class="dealer_inquiry"><%= link_to "DEALER INQUIRY", page_dealer_inquiry_path, :class => "sammy" %></li>
					</ul>

					<ul class="menu media">
						<li><%= link_to "NEWS", page_news_path, :class => "sammy" %></li>
						<li><%= link_to "GALLERY", "#" %></li>
						<li><%= link_to "SUPPORT", page_support_path, :class => "sammy" %></li>
						<li><%= link_to "SUBMIT YOUR VEHICLE", "#" %></li>
					</ul>	
														
				</div>
			</div>
			<!-- 
			<form action="#" class="search-form">
				<fieldset>
					<div class="text-holder">
						<input type="text" class="text" value="Search" />
					</div>
					<input type="image" src="/images/btn-search.gif" alt="search" value="search" class="submit" />
				</fieldset>
			</form>
			-->
		</div>
		<div id="content">
		  <div id="sammify">
        <%= yield %>
      </div>
			
			<div class="section" style="clear:both">
				<ul class="events">
					<li>
						<h2>07/24/2010 JD Lightings at SEMA : </h2>
						<p>Well known for it’s high quality HID products in the US market, the booth at SEMA...</p>
						<a href="#" class="more">read more</a>
					</li>
					<li>
						<h2>03/13/2010 JD Lightings DEBUT! : </h2>
						<p>In 2009, HID Global challenged the status quo to produce encouraging growth in the EMEA region. What can we expect of 2010?</p>
						<a href="#" class="more read-more">read more</a>
					</li>
				</ul>
				<div class="gallery">
					<a href="#" class="prev">prev</a>
					<div class="mask">
						<img src="/images/img07.jpg" alt="" width="641" height="150" />
					</div>
					<a href="#" class="next">next</a>
				</div>
			</div>
		</div>
		<div id="footer">
			<ul class="nav">
				<li><%= link_to "Login", "#" %></li>
				<li><%= link_to "Sign Up", "#" %></li>
				<li><%= link_to "FAQS", page_faq_path, :class => "sammy" %></li>
			</ul>
			<ul class="social">
				<li><a class="facebook" href="#">facebook</a></li>
				<li><a class="twitter" href="#">twitter</a></li>
				<li><a class="rss" href="#">rss</a></li>
				<li><a class="youtube" href="#">youtube</a></li>
			</ul>
			<div class="box">
				<ul>
					<li><%= link_to "Site Map", "#" %></li>
					<li><%= link_to "Privacy / Terms of use", page_privacy_and_terms_path, :class => "sammy" %></li>
				</ul>
				<p>Copyright &copy; 2010 JD Lightings Inc.  All rights reserved</p>
			</div>
		</div>
	</div>
	
	<script>
	  var site = '/<%= params[:site] %>';
	  var parentNav = '<%= @parent_nav %>';
	  
    var app = $.sammy(function() {
      //this.debug = true;
      
      this.before(function(){
        var loading = '<div class="loading"></div>';
        $('#sammify').html(loading)        
      })
      
      this.get('#/', function() {
        $('#sammify').load(site);
        parentNav = 'hi';
      })
      this.get('#/about', function() {
        $('#sammify').load(site+'/about');
        parentNav = "company";
      })
      this.get('#/conditions', function() {
        $('#sammify').load(site+'/conditions');
        parentNav = "company";
      })
      this.get('#/dealer_inquiry', function() {
        $('#sammify').load(site+'/dealer_inquiry');
        parentNav = "company";
      })  
      this.get('#/contact', function() {
        $('#sammify').load(site+'/contact');
        parentNav = "contact";
      })
      this.get('#/news', function() {
        $('#sammify').load(site+'/news')
        parentNav = "media";
      })  
      this.get('#/support', function() {
        $('#sammify').load(site+'/support');
        parentNav = "media";
      })
      this.get('#/faq', function() {
        $('#sammify').load(site+'/faq');
        parentNav = "";
      })
      this.get('#/privacy_and_terms', function() {
        $('#sammify').load(site+'/privacy_and_terms');
        parentNav = "";
      })
      
      
      /* product stuff */
      
      this.get('#/products', function() {
        $('#sammify').load(site+'/products');
        parentNav = "product";
      })
      
      
      
            
      this.after(function(){
        /* add UI navigation highlighting */
        if (parentNav !== ''){
          $("div.menu-holder").find("ul").hide();
          $("#nav").find("li."+parentNav+" a").hover();
        }
      })
 
      this.notFound = function(){

      }
    })
    
    $(function() {
      // run sammy
      app.run();
      
      
      // sammify real links
      $("a.sammy").click(function(){
        // no sammy
        if($(this).attr('href') === "#") return false;
        
        var asHash = $(this).attr('href').substring(1);
        // remove our assumed :site param (this might break in ie)
        asHash = (asHash.indexOf('/')=== -1)
          ? "#/"
          : "#" + asHash.slice(asHash.indexOf('/'));
        
        // if this is a non-root path we should reload and sammify
        var url = window.location.pathname.substring(1).split('/');
        if (url.length === 1){
          // send a valid hash to sammy, else let the url do its thang
          if (asHash !== '#'){
            window.location.hash = asHash;
            return false;
          }            
        } else {
          window.location = site + "/" + asHash
          return false;
        }
      })
      
      // top navigation sub-menus
      $("#nav").find("a").hover(function(){
        $("div.menu-holder").find("ul").hide()
        var list = $(this).attr('rel');
        $("div.menu-holder").find("ul."+list).toggle()
        $("#nav").find("a").removeClass("active")
        $(this).addClass("active")
      })
      $("#nav").find("li."+parentNav+" a").hover();
      

      // product category accordion
      $('ul.accordion a.opener').live("click", function(){
        var $slide = $(this).next(".slide");

        $(".slide").not($slide).slideUp();
        if ($slide.is(":hidden")){
          $slide.slideDown();
        } else {
          $slide.slideUp();
        }
        return false;
      })

    })      
    
	</script>	
</body>
</html>